/* Mobile UI */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 23.4375rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;


}
.icon{
    width: 2rem;
    height: 3rem;
    flex-shrink: 0;
    padding: -2em;


}
body{
    background: var(--light-blue-light-blue-100, #F3F5FC);
}
.encrypt-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 60%;
}
.textbox{
    color: var(--dark-blue-dark-blue-300, #0A3871);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 21.4375rem;
    outline: none;
    border: none;
    background: var(--light-blue-light-blue-100, #F3F5FC);
    height: 200px;
    margin-bottom: 10%;

}
textarea::placeholder{
    color: #0A3871;
}
.warning{
    justify-content: center;
    display: inline-flex;
    align-items: center;
    color:#495057;
    font-family: 'Inter', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}
.warning img{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;

}
.warning span{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.encrypt, .decrypt{
    display: flex;
    padding: 1.5rem;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 1.5rem;
    border-color: #0A3871;
    border-style: solid;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;



}
.botones{
    display: flex;
    width: 21.4375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;

}
.encrypt{
    background: var(--dark-blue-dark-blue-300, #0A3871);
    margin-bottom: 1.5em;
    color: white;

}
.decrypt{
    background: white;
    color: #0A3871;
    /* margin-bottom: 2em; */
}

.img-enc{
    /* margin-left: 1.5;
    margin-right: 1.5; */
    padding: 2rem;

}
.img-enc img{
    display: none;
}
.container{
    display: flex;
    width: 20.4375rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 2rem;
    background: var(--white, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}
.texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

}
.texts h3{
    align-self: start;
    color: var(--gray-gray-500, #343A40);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

}
.texts p{
    align-self: stretch;
    color: var(--gray-gray-400, #495057);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

 /* DESKTOP */

 @media (min-width: 700px) {
    body{
        width: 100%;
        height: auto;
    }
    header{
        width: 100%;
    }
    main{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 7.5rem;
        height: 3rem;
        flex-shrink: 0;
        
    }
    .encrypt-section{
        width: auto;
    }
    .textbox{
        width: 36.0625rem;
        color: var(--dark-blue-dark-blue-300, #0A3871);
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 3rem */
    }
    .warning{
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        cursor: default;
    }
    .warning img{
        width: 1rem;
        height: 1rem;
        
    }
    .warning p{
        color: var(--gray-gray-400, #495057);
        font-family: Inter;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.125rem */
        opacity: 0.8;
        
    }
    .botones{
        display: flex;
        width: 42.5rem;
        align-items: flex-start;
        gap: 1.5rem;
        flex-direction: row;
        font-weight: bold;
        
    }
    .encrypt, .decrypt:hover{
        cursor: pointer;
    }
    .encrypt{
        display: flex;
        width: 20.5rem;
        padding: 1.5rem;
        align-items: flex-start;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 1.5rem;
        background: var(--dark-blue-dark-blue-300, #0A3871);
        margin-bottom: 2rem;
        font-weight: bold;
    }
    .decrypt{
        display: flex;
        margin-bottom: 2rem;
        width: 20.5rem;
        padding: 1.5rem;
        align-items: flex-start;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 1.5rem;
        border: 1px solid var(--dark-blue-dark-blue-300, #0A3871);
        background: #D8DFE8;
        font-weight: bold;
    }
    .encrypted-message{
        width: 25rem;
        height: auto;
        display: flex;
        flex-shrink: 0;
        border-radius: 2rem;
        background: var(--white, #FFF);

        /* shadow */
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        /* flex: -1; */
    }
    .img-enc img{
        display: unset;
    }
    .img-enc{
        width: 21rem;
        height: 19rem;
        flex-shrink: 0;
    }
    .container{
        display: contents;
    }
    .texts{
        display: flex;
        width: 21rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .texts h3{
        align-self: stretch;
        color: var(--gray-gray-500, #343A40);
        text-align: center;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.8rem */
    }
    .texts p{
        align-self: stretch;
        color: var(--gray-gray-400, #495057);
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.5rem */
    }
    
 }